[submodule "libs/rlottie"]
	path = libs/rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "libs/gif-h"]
	path = libs/gif-h
	url = https://github.com/chfanghr/gif-h.git
[submodule "libs/oatpp"]
	path = libs/oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "libs/gzip-hpp"]
	path = libs/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/commontk/zlib.git
